{{ define "main" }}

<a href="#blog" style="padding: 10px; background: {{ .Site.Params.style.primaryColor }}; color: white; position: fixed; right: 0; top: 1rem;">Go to Blog</a>

<h1>Tentang Saya</h1>
<p>
  Halo, nama saya Hadi Hidayat Hammurabi. Saya adalah seorang <b>programmer</b>.
  Saya sangat menyukai pemrograman yang bukan hanya membicarakan mengenai kode, tetapi banyak hal lainnya.
</p>

<h1>Perjalanan Programming</h1>
<p>
  Baik di lingkungan profesional maupun di luar itu, pengalaman saya dalam menggunakan teknologi dapat dilihat pada
  profil saya di Linkedin. Saya juga senang membuat proyek-proyek <i>open source</i> seperti yang ada pada profil
  saya di Github.
</p>

<h1>Curriculum Vitae (Daftar Riwayat Hidup)</h1>
<p>
  Berikut saya sertakan daftar riwayat hidup agar secara pribadi pengunjung dapat mengetahui banyak mengenai
  latar belakang saya.
  <br/>
  <a href="https://stackoverflow.com/story/hadihammurabi" target="_blank">Lihat Curriculum Vitae</a>
</p>

<h1>Contact</h1>
<p>
  You may contact me by:
  <ol>
    <li><b>Telegram</b> <a href="https://t.me/hadihammurabi">@hadihammurabi</a> </li>
    <li><b>Email</b> <a href="mailto:hadihammurabi@gmail.com">hadihammurabi@gmail.com</a> </li>
  </ol>
</p>

<h1 id="blog">Blog</h1>
<article>
  <!-- <h1>{{ .Title }}</h1> -->
  <ul class="posts-list">
    {{ range $index, $element := .Paginator.Pages }}
    <li class="posts-list-item">
      <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="posts-list-item-description">
        {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
        {{ .PublishDate.Format "2 January 2006" }}
      </span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" $ }}
</article>

{{ end }}