@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro|Arvo:400,700';
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap';
@import 'https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css';

* {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
}

.title {
  font-family: 'Playfair Display', serif;
}

pre code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
  margin-left: 0;
}
