@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro|Arvo:400,700';
@import 'https://d33wubrfki0l68.cloudfront.net/css/d9b5bc0170410859ddcaea7f3c3a80e070bcbc68/build/tailwind.css';

pre code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
  margin-left: 0;
}
