{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="relative bg-blue-100 px-4 pt-32 pb-10 text-center">
  <div class="relative w-full">
    <h1 class="text-3xl lg:text-4xl xl:text-5xl mt-8 leading-tight font-bold">
      {{ page.title }}
    </h1>
  </div>
</section>

<div class="w-full flex flex-wrap justify-center">
  <div class="w-2/3 py-4">
    {% for post in posts %}
      {% image post.feed_image scale-150 as feed_image %}

      <div class="w-full py-2">
        <a class="text-lg md:ml-12" href="{{ post.slug }}">
          <div class="mx-auto" style="background: url({{ feed_image.url }}) no-repeat center; background-size: cover; height: 300px; width: 100%"></div>
          <div class="bg-white p-4">
            <h4 class="text-xl font-bold leading-tight">{{ post.title }}</h4>
            
            <time class="text-gray-700 block md:flex-l-24" datetime="{{post.first_published_at}}">{{ post.first_published_at }}</time>
            
            <p class="mt-2">
              {{ post.body|safe|truncatewords:"50"|linebreaks }}
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
