{{ define "main" }}
    <a href="#blog" style="padding: 10px; background: {{ .Site.Params.style.primaryColor }}; color: white; position: fixed; right: 0; top: 1rem;">Go to Blog</a>

    <header style="background: #212121; color: white">

    <div class="section" style="text-align: center">

      <a href="/"><img src="{{ "avatar.jpg" | relURL }}" alt="{{ .Site.Params.author.name | default "John Doe" }}"
          style="border-radius: 50%; border: 10px solid #0277BD; width: 250px;" /></a>
      <div class="app-header-social">
        {{ range $index, $element := .Site.Params.social }}
        {{ if (eq (mod $index 3) 0) }}
        <br />
        {{ end }}
        <a target="_blank" href="{{ .url }}" style="margin: 5px">{{ partial "icon.html" (dict "ctx" $ "name" .name ) }}</a>
        {{ end }}
      </div>
      
      <h1 class="is-size-1">{{ .Site.Title }}</h1>
      <p>{{ .Site.Params.description | default "Fullstack web developer." }}</p>

    </div>

  <div id="cv" class="section" style="padding: 0 5%; background: #212121; color: white; height: 100%">
    <div class="columns">
      <div class="column" style="padding: 2.5%">
        <h4 class="is-size-4">Tentang Saya</h4>
        <p>
          Halo, nama saya Hadi Hidayat Hammurabi. Saya adalah seorang <b>programmer</b>.
          Saya sangat menyukai pemrograman yang bukan hanya membicarakan mengenai kode, tetapi banyak hal lainnya.
        </p>
        <br/>

        <h4 class="is-size-4">Perjalanan Dunia Programming</h4>
        <p> 
          <ul>
            <li>Tahun 2014, memulai belajar HTML dan CSS.</li>
            <li>Tahun 2015, memulai belajar PHP.</li>
            <li>Sampai tahun 2017, mencoba berbagai stack teknologi dalam pengembangan software.</li>
            <li>Tahun 2017 sampai 2018, mulai mencoba menjadi freelancer.</li>
            <li>Tahun 2018 sampai 2019, menjadi seorang fullstack developer di sebuah perusahaan IT.</li>
            <li>Tahun 2019, menjadi mentor di sebuah coding school.</li>
          </ul>
        </p>
      </div>
      <div class="column" style="padding: 2.5%">
        <h4 class="is-size-4">Curriculum Vitae (Daftar Riwayat Hidup)</h4>
        <p>
          Berikut saya sertakan daftar riwayat hidup agar secara pribadi pengunjung dapat mengetahui banyak mengenai
          latar belakang saya.
          <br/>
          <a href="https://stackoverflow.com/story/hadihammurabi" target="_blank">Lihat Curriculum Vitae</a>
        </p>
        <br/>
    
        <h4 class="is-size-4">Contact</h4>
        <p>
          You may contact me by:
          <ol>
            <li><b>Telegram</b> <a href="https://t.me/hadihammurabi">@hadihammurabi</a> </li>
            <li><b>Email</b> <a href="mailto:hadihammurabi@gmail.com">hadihammurabi@gmail.com</a> </li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  </header>
  
  <article id="blog" class="section" style="background: #212121; color: white;">
    <h1 id="blog" class="is-size-1">Blog</h1>
    <div class="section">
      <ul class="posts-list">
        {{ range $index, $element := .Paginator.Pages }}
          <li class="posts-list-item">
            <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
            <p class="posts-list-item-description" style="color: #aaa">
              {{ .ReadingTime }} min read -
              {{ .PublishDate.Format "Jan 2, 2006" }}
            </p>
          </li>
          <br/>
        {{ end }}
      </ul>
    </div>
  </article>

{{ end }}
